In [145]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math

In [146]:
df = pd.read_excel("C:/Users/selva/Downloads/Adidas US Sales Datasets.xlsx")

In [147]:
df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store

In [ ]:
# Finding the total sales of 2020

In [158]:
year_2020 = df[df['Invoice Date'].dt.year == 2020]
year_2020['Total Sales'].sum()

182080675.0

In [160]:
year_2021 = df[df['Invoice Date'].dt.year == 2021]
year_2021['Total Sales'].sum()

717821450.0

In [ ]:
# Finding the total sales of 2021

In [163]:
tyear_2020 = df[df['Invoice Date'].dt.year == 2020]
tyear_2020['Units Sold'].sum()

462349

In [164]:
tyear_2021 = df[df['Invoice Date'].dt.year == 2021]
tyear_2021['Units Sold'].sum()

2016512

In [ ]:
# Finding best performing 'region' by sales

In [172]:
df.groupby('Region')['Total Sales'].sum().idxmax()

'West'

In [170]:
df['Region'].value_counts()

Region
West         2448
Northeast    2376
Midwest      1872
South        1728
Southeast    1224
Name: count, dtype: int64

In [ ]:
# Finding best performing 'Mode of sales' by Total sales

In [176]:
df.groupby('Sales Method')['Total Sales'].sum().idxmax()

'In-store'

In [ ]:
# Best selling product by total sales

In [189]:
byear_2020 = df[df['Invoice Date'].dt.year == 2020]
byear_2020.groupby('Product')['Total Sales'].sum().idxmax()

"Men's Street Footwear"

In [190]:
byear_2021 = df[df['Invoice Date'].dt.year == 2021]
byear_2021.groupby('Product')['Total Sales'].sum().idxmax()

"Men's Street Footwear"

In [230]:
top_y = df[df['Invoice Date'].dt.year == 2020]
top_y.groupby(['Product','Region'])['Total Sales'].sum()

Product                    Region
Men's Apparel              Midwest        742604.0
                           Northeast     6835166.0
                           South         3330444.0
                           Southeast     5385967.0
                           West          9922783.0
Men's Athletic Footwear    Midwest       1167262.0
                           Northeast     6513901.0
                           South         4834597.0
                           Southeast     4890140.0
                           West         14388562.0
Men's Street Footwear      Midwest       2498746.0
                           Northeast     8448329.0
                           South         4236960.0
                           Southeast     6940445.0
                           West         15698540.0
Women's Apparel            Midwest       1476050.0
                           Northeast     8017686.0
                           South         4971779.0
                           Southeast     6288715.0
                           West         14436102.0
Women's Athletic Footwear  Midwest        602229.0
                           Northeast     5342849.0
                           South         3615124.0
                           Southeast     3912727.0
                           West         10156963.0
Women's Street Footwear    Midwest        891177.0
                           Northeast     5591778.0
                           South         4467978.0
                           Southeast     4182869.0
                           West         12292203.0
Name: Total Sales, dtype: float64

In [221]:
df[['Region','Product']]

         Region                    Product
0     Northeast      Men's Street Footwear
1     Northeast    Men's Athletic Footwear
2     Northeast    Women's Street Footwear
3     Northeast  Women's Athletic Footwear
4     Northeast              Men's Apparel
...         ...                        ...
9643  Northeast              Men's Apparel
9644  Northeast            Women's Apparel
9645  Northeast      Men's Street Footwear
9646  Northeast    Men's Athletic Footwear
9647  Northeast    Women's Street Footwear

[9648 rows x 2 columns]